/* ::::::::::::::::::: Importação de fonts ::::::::::::::::::: */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* ::::::::::::::::::: Importação de fonts ::::::::::::::::::: */

/* ::::::::::::::::::: Formatação geral ::::::::::::::::::: */
* {
  padding: 0;
  margin: 0;

  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: var(--cor-font-4);
  scroll-behavior: smooth;
}
:root {
  --cor-font-1: #f8df00;
  --cor-font-2: #000000;
  --cor-font-3: #a6a6a6;
  --cor-font-4: #ffffff;

  --cor-transparent-white: #ffffff3b;
  --cor-transparent-black: #0000004f;
}
/* body {
  background-color: #ffaa00;
  background: radial-gradient(
      circle,
      transparent 20%,
      #ffaa00 20%,
      #ffaa00 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #ffaa00 20%,
        #ffaa00 80%,
        transparent 80%,
        transparent
      )
      25px 25px,
    linear-gradient(#000000 2px, transparent 2px) 0 -1px,
    linear-gradient(90deg, #000000 2px, #ffaa00 2px) -1px 0;
  background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
} */

body {
  background: linear-gradient(to right, #FFA837, #C10000);
}

body::-webkit-scrollbar {
  display: none;
}
h1 {
  text-shadow: 1px 1px 1px var(--cor-font-2);

  color: var(--cor-font-1);
  border-radius: 0.5rem;
  margin: 1rem 0;
  padding: 0.5rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
}
h3 {
  color: var(--cor-font-4);
  text-shadow: 2px 2px 3px var(--cor-font-2);
}
h3:nth-child(1) {
  color: var(--cor-font-1);
}
p {
  text-align: center;
  text-shadow: 1px 1px 1px var(--cor-font-2);
  font-weight: 700;

  margin: 0.5rem 0 0.5rem 0;
  padding: 0 0 1.5rem 0;
  /* color: var(--cor-font-2); */
}
/* ::::::::::::::::::: Formatação geral ::::::::::::::::::: */

/* ::::::::::::::::::: Bar Menu ::::::::::::::::::: */
#btn-mobile {
  display: none;
}
#header {
  background-color: var(--cor-transparent-black);

  display: flex;
  position: fixed;

  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  width: 100%;

  z-index: 999;
}
#logo {
  display: flex;

  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;

  font-weight: 900;
  font-size: 1.5rem;
  padding: 0.4rem;
  height: 2.5rem;
}
#logo::before {
  content: '';
  display: inline-flex;
  background-image: url(./img/bg/logo1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;

  position: relative;
  width: 2.5rem;
  height: 3rem;
}

/* ::::::::::::::::::: Bar Menu ::::::::::::::::::: */

/* ::::::::::::::::::: Botão Whatsapp ::::::::::::::::::: */
main > span > a {
  position: fixed;

  bottom: 0;
  right: 0;

  padding: 0.5rem 1rem;

  z-index: 998;
}
main > span > a::before {
  content: '';
  display: inline-block;

  background-image: url(./img/icons/whatsapp.png);
  background-repeat: no-repeat;
  background-size: cover;

  width: 2.5rem;
  height: 2.5rem;
}
/* ::::::::::::::::::: Botão Whatsapp ::::::::::::::::::: */

/* ::::::::::::::::::: Formatando containers ::::::::::::::::::: */
.container {
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;

  justify-content: space-evenly;
  align-items: center;

  padding: 3rem;
  gap: 2rem;
  width: 100%;
  height: 100vh;

  z-index: 990;
}
#contato {
  height: 100vh;
}
#sobreImg,
#sobreText,
#techText,
#techCard,
#projImg,
#descricao,
#contText,
#contLink {
  width: 50%;
}
#sobreImg,
#techCard,
.card {
  display: flex;
  justify-content: center;
  align-items: center;
}
#techText,
#descricao,
#contText {
  background-color: var(--cor-transparent-black);
  color: var(--cor-font-4);

  border: 2px solid var(--cor-font-4);
  border-radius: 0.3rem;
  padding: 0.3rem;
  font-weight: 600;
}

/* ::::::::::::::::::: Formatando containers ::::::::::::::::::: */

/* ::::::::::::::::::: Section SOBRE ::::::::::::::::::: */
#sobre {
  background-image: url(./img/bg/bg0.svg);
  min-height: 100vh;
  height: 100vh;
}

.svg {
  -webkit-filter: drop-shadow(var(--cor-font-3) 14px 7px 1.9px);
  filter: drop-shadow(var(--cor-transparent-white) 8px 3px 1px);

  width: 100%;
  max-width: 25rem;
  height: auto;
}
.svg {
  -webkit-animation: svg 5s ease-in-out infinite alternate forwards;
  animation: svg 4.5s ease-in-out infinite alternate forwards;
}
@-webkit-keyframes svg {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes svg {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
#sobreText > h1 {
  background-color: var(--cor-transparent-black);
  border: 0.2rem solid var(--cor-transparent-white);

  text-align: center;
  padding: 1rem 0;
  border-radius: 0.3rem;
}
.digitando > h1 {
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.digitando > h1 > span.typed-text {
  color: var(--cor-font-1);
}
.digitando > h1 > span.cursor {
  display: inline-block;
  background-color: var(--cor-font-1);
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.digitando > h1 > span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}

/* ::::::::::::::::::: Section SOBRE ::::::::::::::::::: */

/* ::::::::::::::::::: Section TECHS ::::::::::::::::::: */
#techCard {
  flex-flow: row wrap;
  gap: 1.5rem;
}
.card {
  background-size: cover;
  border: 0.2rem solid var(--cor-font-4);
  border-radius: 0.5rem;
  max-width: 10rem;
  max-height: 10rem;
}
.card > img {
  padding: 0.3rem;
  width: 8.3rem;
  height: 9rem;
}
/* ::::::::::::::::::: Section TECHS ::::::::::::::::::: */

/* ::::::::::::::::::: Section Projets ::::::::::::::::::: */
.projetosWeb {
  display: flex;

  justify-content: center;
  flex-flow: row wrap;
  gap: 1rem;
}
.projetosWeb > .contLink {
  display: flex;
  position: relative;

  border: 0.2rem solid var(--cor-font-4);
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 8rem;
}
.projetosWeb > .contLink > img {
  border-radius: 0.3rem;
  width: 100%;
  height: 100%;
}
.projetosWeb > .contLink > span {
  background-color: var(--cor-transparent-black);
  border-radius: 1.5rem;
  position: absolute;

  width: 112%;
  text-align: center;

  transform: rotate(25.5deg) scale(1) translate(0px, 0.9px);
}
/* ::::::::::::::::::: Section Projets ::::::::::::::::::: */

#wrapLinks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttom,
.links {
  display: flex;

  flex-flow: column;
  /* justify-content: center; */
  /* align-items: center; */

  gap: 0.5rem;
}
#menu li a,
.buttom,
.links > li > a {
  background-color: var(--cor-font-4);
  border: 0.2rem solid var(--cor-font-4);
  box-shadow: 1px 1px 1px #000000;

  color: var(--cor-font-2);

  display: inline-flex;
  align-items: center;

  border-radius: 0.4rem;
  font-weight: 600;
  padding: 0.2rem;
  margin: 0.7rem 0 0 0;

  gap: 0.5rem;
}
#menu li a:hover,
.buttom:hover,
.links > li > a:hover {
  background-color: var(--cor-transparent-white);
  color: var(--cor-font-4);
}
.links > li > a::before {
  content: '';
  background-repeat: no-repeat;
  background-size: cover;

  display: inline-flex;

  width: 1.5rem;
  height: 1.5rem;
}
.links > li > #btn1::before {
  background-image: url(./img/icons/linkedin.png);
  border-radius: 25%;
}
.links > li > #btn2::before {
  background-image: url(./img/icons/github.png);
  border-radius: 50%;
}
.links > li > #btn4::before {
  background-image: url(./img/icons/whatsapp.png);
}
#menu li a {
  margin: 0;
}
#menu {
  display: flex;
  gap: 0.5rem;
  margin-right: 0.5rem;
}
